body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #272a37;
  text-align: left;
  background-color: #f2f3f6;
}

.home-page {
  background-color: white;
  margin-left: 5%;
  margin-top: 20px;
  width: 90%;
  height: 312px;
  border-radius: 18px;
}

.car-options {
  display: flex;
  height: 38px;
  padding: 16px 24px;
  align-items: center;
}
.yearPicker {
  width: 274px;
  height: 35.99px;
  border-radius: 5px;
}
.actions-car {
  display: flex;
}

.buy-car {
  color: #272a37;
  font-weight: 900;
}

.clear-filter {
  display: flex;
  margin-left: 850px;
  height: 21px;
  text-align: center;
  align-items: center;
  color: #eb6a79;
}

.trash-image {
  width: 24px;
  height: 24px;
}

.hr {
  border: none;
  border-top: 1px solid #f0f0f0;
}

.search-engine {
  display: flex;
  height: 242px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 242px;
}

.options-option {
  width: 230px;
  height: 154px;
  padding: 32px 0px 56px;
}

.options-car {
  display: flex;
  color: #fd4100;
  height: 24px;
  font-weight: 600;
  padding: 12px 48px 12px 24px;
}

.car-image {
  width: 24px;
  height: 24px;
}

.cars {
  padding: 0px 0px 0px 16px;
}

.options-spectech {
  display: flex;
  height: 24px;
  text-align: center;
  padding: 12px 48px 12px 24px;
}

.spec-image {
  width: 24px;
  height: 24px;
}

.spectech {
  padding: 0px 0px 0px 16px;
}

.options-moto {
  display: flex;
  text-align: center;
  height: 24px;
  padding: 12px 48px 12px 24px;
}

.moto-image {
  width: 24px;
  height: 24px;
}

.motos {
  padding: 0px 0px 0px 16px;
}

.selector-manufactor {
  width: 274px;
  height: 50px;
}
.filters-container {
  width: 1242px;
  height: 178px;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-container {
  display: flex;
  gap: 20px;
}

.second-container {
  display: flex;
  gap: 20px;
}

.customer-clearance {
  display: flex;
  width: 248px;
  height: 38px;
  border-radius: 12px;
}

.clearance {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #e5e7eb;
}

.clearance:hover {
  border: 2px solid black;
}

.duty-free:hover {
  border: 2px solid black;
}

.clearance-selected {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 2px solid green;
  background-color: #e8f8f0;
}

.duty-free {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #e5e7eb;
}

.duty-selected {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #e8f8f0;
  border: 2px solid green;
}

.selector-fuel {
  width: 274px;
  height: 50px;
  padding: 0px 16px;
  margin-left: 15px;
}

.search {
  width: 248px;
  height: 48px;
  background-color: #fd4100;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 589px;
}

.link {
  width: 248px;
  height: 48px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
}

.all-info {
  display: flex;
  width: 910px;
  background-color: white;
  border-radius: 18px;
  padding: 16px;
}

.info-photos {
  width: 180px;
  height: 135px;
  border-radius: 12px;
}

.info-car-details {
  padding: 0px 0px 0px 24px;
}

.car-details {
  display: flex;
  height: 38px;
}

.info-year {
  color: #8996ae;
  margin: 0px 8px;
}

.info-location-customs {
  display: flex;
  margin-left: 347.45px;
}

.info-location {
  padding: 0px 8px 0px 0px;
}

.info-carYear {
  display: flex;
  width: 200px;
}

.customs-green {
  color: #26b753;
}

.customs-red {
  color: #ff3b30;
}

.info-types {
  display: flex;
  padding: 8px 16px;
}

.info-engine {
  margin-left: 7px;
}

.info-fuel {
  width: 25px;
  height: 25px;
}

.info-fuel-type {
  margin-left: 4px;
}

.info-speed {
  width: 25px;
  height: 25px;
}

.info-types-speed {
  display: flex;
  width: 220px;
}

.info-speed-km {
  margin-left: 7px;
}

.info-fuel-engine {
  display: flex;
  width: 220px;
}

.info-settings {
  display: flex;
  width: 320px;
}

.info-setting {
  margin-left: 10px;
}

.info-types-speed-wheel {
  display: flex;
  padding: 8px 16px;
}

.info-date-view {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
  color: #8996ae;
}

.info-price {
  font-weight: 600;
  text-align: center;
  width: 140px;
}

.paginate {
  display: flex;
  gap: 20px;
  cursor: pointer;
  padding: 15px;
  width: auto;
  margin: auto;
  font-size: 16px;
}
.pagination-container {
  border-radius: 12px;
  background-color: white;
  align-items: center;
  width: 910px;
  height: auto;
  padding: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  font-weight: 900;
}
.pagination {
  display: flex;
  padding: 16px;
  list-style: none;
  cursor: pointer;
  width: auto;
  margin: auto;
}
.page-link {
  position: relative;
  display: block;
  color: #272a37;
  text-decoration: none;
  background-color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 12px;
}
.page-item.active .page-link {
  color: #fff;
  background-color: black;
  border-color: black;
}
.break {
  display: none;
}

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  font-weight: 900;
}
